@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
:root {
	--box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

	--clr-grey-5: hsl(210, 22%, 49%);
	--clr-grey-10: hsl(210, 36%, 96%);
	--clr-red-dark: hsl(360, 67%, 44%);
	--clr-red-light: hsl(360, 71%, 66%);
	--clr-green-dark: hsl(125, 67%, 44%);
	--clr-green-light: hsl(125, 71%, 66%);
	--transition: all 0.3s linear;
	--spacing: 0.1rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
* {
	box-shadow: border-box;
}
body {
	background-color: #f7f7f7;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	font-family: "lato", sans-serif;
	min-height: 100vh;
}
.h1 {
	letter-spacing: 3px;
}
.c2 {
	margin-top: 20px;
}
.c1 {
	letter-spacing: 1px;
	text-align: center;
}
.thistory {
	border-bottom: 1px solid #3d3939;
	text-align: center;
	margin-top: 40px;
}
.status-container {
	background-color: #fff;
	box-shadow: var(--box-shadow);
	padding: 20px;

	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}
.status-container > div {
	flex: 1;
	text-align: center;
}
.status-container > div:first-of-type {
	border-right: 1px solid #c25959;
}
.money {
	font-size: 20px;
	letter-spacing: 1px;
	margin: 5px 0;
}
.money.plus {
	color: #b6960a;
	font-weight: bold;
}
.money.minus {
	color: #2da3ad;
	font-weight: bold;
}

html,
body {
	height: 100%;
}

body {
	display: grid;
	font-family: Avenir, sans-serif;
	color: #111;
}

a {
	text-decoration: none;
	color: inherit;
}

.cta {
	position: relative;
	margin: auto;
	padding: 19px 22px;
	transition: all 0.2s ease;
}
.cta:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	border-radius: 28px;
	background: rgba(18, 118, 218, 0.5);
	width: 56px;
	height: 56px;
	transition: all 0.3s ease;
}
.cta:hover {
	color: rgb(199, 69, 164);
	/* //when click on button then come Transaction added" */
}

.cta span {
	position: relative;
	font-size: 16px;
	line-height: 18px;
	font-weight: 900;
	letter-spacing: 0.25em;
	text-transform: uppercase;
	vertical-align: middle;
	margin-top: 60px;
}
.cta svg {
	position: relative;
	top: 0;
	margin-left: 10px;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: #111;
	stroke-width: 2;
	transform: translateX(-5px);
	transition: all 0.3s ease;
	margin: 30px;
}
.cta:hover:before {
	width: 100%;
	background: #9dffbc;
}
.cta:hover svg {
	transform: translateX(0);
}
.cta:active {
	transform: scale(0.96);
}
.list {
	list-style-type: none;
	padding: 0;
	margin-bottom: 40px;
}

.list li {
	background-color: #fff;
	box-shadow: var(--box-shadow);
	color: #333;
	display: flex;
	justify-content: space-between;
	position: relative;

	padding: 10px;
	margin: 10px 0;
}
.amount {
	position: absolute;
	right: 2%;
}
#delete-btn {
	cursor: pointer;
	background-color: transparent;
	border: 0;
	color: #111;
	font-size: 25px;
	line-height: 20px;
	padding: 2px 5px;
	position: absolute;
	top: 47%;
	right: -69px;
	transform: translate(-100%, -50%);
	opacity: 0;
	transition: opacity 0.3s ease;
}


.list li:hover #delete-btn {
	opacity: 2;
}

.list li:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.list li.minus {
	border-right: 5px solid #2da3ad;
}
.list li.minus:hover {
	border-right: 5px solid #2da3ab;
	background-color: #2da3ab;
	color: #f7f7f7;
}
.list li:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.list li.plus {
	border-right: 5px solid #ab462d;
}
.list li.plus:hover {
	border-right: 5px solid #ab462d;
	background-color: #ab462d;
	color: #f7f7f7;
}
